@model Entertainer
@{
    ViewData["Title"] = "Entertainer Details";
}
<h1 style="display: flex; justify-content: center; align-items: center;">Entertainer Details</h1>
<table class="table table-bordered">
    <theard class="fw-bold">
        <tr>

            <th class="text-center">Stage Name</th>
            <th class="text-center">SSN</th>
            <th class="text-center">Street Address</th>
            <th class="text-center">City</th>
            <th class="text-center">State</th>
            <th class="text-center">Zip Code</th>
            <th class="text-center">Phone Number</th>
            <th class="text-center">Web Page</th>
            <th class="text-center">Mail Address</th>
            <th class="text-center">Date Entered</th>
            <th class="text-center"></th>
            <th class="text-center"></th>
        </tr>
 
    <tbody>
        <tr>
            <td class="text-center">@Model.EntStageName</td>
            <td class="text-center">@Model.EntSsn</td>
            <td class="text-center">@Model.EntStreetAddress</td>
            <td class="text-center">@Model.EntCity</td>
            <td class="text-center">@Model.EntState</td>
            <td class="text-center">@Model.EntZipCode</td>
            <td class="text-center">@Model.EntPhoneNumber</td>
            <td class="text-center">@Model.EntWebPage</td>
            <td class="text-center">@Model.EntEmailAddress</td>
            <td class="text-center">@Model.DateEntered</td>
            <td class="text-center">
            <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@Model.EntertainerId" style="background-color: white; border: 2px solid black;">Edit</a>
            </td>
            <td class="text-center">
            <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@Model.EntertainerId" style="background-color: dimgrey;border: 2px solid dimgrey;">Delete</a>
            </td>

        </tr>
    </tbody>

</table>